*.php linguist-language=PHP
*.blade.php linguist-language=Blade
*.js linguist-language=JavaScript

* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore

# ignorar bibliotecas JavaScript na contagem do código
node_modules/* linguist-vendored
vendor/* linguist-vendored
*.min.js linguist-vendored
