.nome-arquivo{
    font-weight: 400;
    font-size: 14px;
    display:none;
}
.nome-arquivo p{
    margin-bottom: 4px;
    margin-top: 7px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.nome-arquivo .preview-files{
    list-style-type: none;
    padding-left: 0;
}
.nome-arquivo .preview-files li.disabled{
    color: red;
    opacity: 0.8;
}
.arquivos-lista{
    margin-top: 16px;
}
.arquivos-lista ul li{
    margin-bottom: 4px;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 24px;
    overflow:hidden;
}
.arquivos-lista ul li a {
    color: #212529;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: -2px;
}
.arquivos-lista ul  li a:hover, .arquivos-lista ul a:hover {
    color:#007bff;
    text-decoration: none;
}
.arquivo-acoes{
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .5s;
    display: flex;
}
.arquivos-lista ul li.modo-visualizacao:hover .arquivo-acoes.duas-acoes{
    width: 73px;
}
.arquivos-lista ul li.modo-visualizacao:hover .arquivo-acoes.uma-acao{
    width: 36px;
}
.arquivos-lista .btn-arquivo-acao{
    font-size: 13px;
    padding: 0px 5px;
    margin-right: 4px;
}
.arquivos-lista .btn-arquivo-acao.btn-enviar{
    padding-right: 3px;
}

.arquivo-img{
    max-height: 35px;
}
#submit_form_arquivo.disabled{
    opacity: 0.6;
    pointer-events: none;
}
